

@{
    
}

<h2>title</h2>
<h1>ViewBag.Cars</h1>
<div><input type="button" value="Create" onclick="location.href='@Url.Action("Create", "User")'" /></div>
<input type="button" value="Create" onclick="location.href='@Url.Action("Create", "User")'" />
